<form #f="ngForm">
    <label >id</label>
    <input type="number" name="id" [(ngModel)]="p.id" #id="ngModel" required>
    <div *ngIf="id.invalid">
        required
    </div>
    <label >title</label>
    <input type="text" name="title" [(ngModel)]="p.title" #title="ngModel" required minlength="3" >
    <div *ngIf="title.invalid && title.touched">
    <div *ngIf="title.errors?.['required']">
        required
    </div>
    <div *ngIf="title.errors?.['minlength']">
        minlength
    </div>
    </div>
    <label >quantity</label>
    <input type="text" name="quantity" [(ngModel)]="p.quantity" #Q="ngModel" pattern="[0-9]{3}">
    <div *ngIf="Q.value<0">
    the quantity must be grater than zero
    </div>
    <input type="submit" value="update" (click)="update(f.value)" >
    </form>
    